    <!-- Concerts Section -->
    <section id="concert" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Conciertos</h2>
                    <p>
                        <strong><a>20 de mayo, 2015</a></strong><br>
                        <a>Concierto Ensamble de Música Contemporánea Universidad de Caldas</a><br>
                        Teatro 8 de Junio Universidad de Caldas, Manizales<br>
                        Hora: 18:00pm
                    </p>
                    <p>
                        <strong><a>21 de mayo, 2015﻿</a></strong><br>
                        <a>Concierto Un atardecer con Yuri Chugúyev</a><br>
                        Centro Cultural y de Convenciones Teatro Los Fundadores, Manizales<br>
                        Hora: 18:00pm
                    </p>
                </div>
            </div>
        </div>
    </section>